/* css styles */
#quarto-sidebar {
    background-color: #2C3E50; 
    color: white; /* Optional: Change text color to white */
}

#quarto-sidebar a {
    color: white;
}

#quarto-sidebar a:hover {
    color: #BDC3C7;
}

.navbar {
  background-color: #2C3E50 !important;
}