/* css styles */
<<<<<<< HEAD
#quarto-sidebar {
    background-color: #2C3E50; 
    color: white; /* Optional: Change text color to white */
}

#quarto-sidebar a {
    color: white; /* text color for links */
}

#quarto-sidebar a:hover {
    color: #BDC3C7; /* text color on hover */
}
=======
>>>>>>> 80f373cb4a8033e32203f351d5c90ee19929559d
